{% extends 'base.html' %}
{% load static %}
{% load humanize %}    
{% block title %}Home{% endblock %}
{% block content %}
  <!-- Pre Loader -->
  <body class="aa-price-range">
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!--
  
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
      
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
   
           <a class="navbar-brand aa-logo" href="index.html"> Home <span>Property</span></a>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="index.html">HOME</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">PROPERTIES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="properties.html">PROPERTIES</a></li>
                <li><a href="properties-detail.html">PROPERTIES DETAIL</a></li>                                            
              </ul>
            </li>
            <li><a href="gallery.html">GALLERY</a></li>                                         
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">BLOG <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="blog-archive.html">BLOG</a></li>
                <li><a href="blog-single.html">BLOG DETAILS</a></li>                                            
              </ul>
            </li>
            <li><a href="contact.html">CONTACT</a></li>
           <li><a href="404.html">404 PAGE</a></li>
          </ul>                            
        </div>      
      </div>          
    </nav> 
  </section>
-->

  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area"> 
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/main.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="listings/15" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/2.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="/listings/14" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/3.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="listings/1" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->       
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/5.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="{% url 'listings' %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->        
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/4.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="{% url 'listings' %}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content --> $2500
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="{% static 'img/6.jpg' %}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">Blue House</span>
            <h2 class="aa-top-slider-title">345 square meters </h2>
            <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Quan 1, TP. Ho Chi Minh</p>
            <span class="aa-top-slider-off">30% OFF</span>
            <p class="aa-top-slider-price">3,456,000 vnd/month</p>
            <a href="/1" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider <form action="{% url 'search' %}"> -->

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area" >
        <form action="{% url 'search' %}" style="background-color:gainsboro;opacity: 1>
         <div class="form">
          <div class="aa-advance-search-top">
            <div class="row">

              <div class="col-md-4">
                <div class="aa-single-advance-search">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (address, describe, etc)">
                </div>
              </div>
              
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select name="city" >
                   <option selected="true" disabled="disabled">City (All)</option>
                   {% for key,value in city_choices.items %}
                     <option value="{{ key }}"
                     {% if key == values.city %}
                       selected
                     {% endif %}>{{ value }}
                     </option>
                   {% endfor %}
                  </select>
                </div>
              </div>
                
                <div class="col-md-2">
                  <div class="aa-single-advance-search">
                    <select name="price" >
                     <option selected="true" disabled="disabled">Price (All)</option>
                     {% for key,value in price_choices.items %}
                       <option value="{{ key }}"
                       {% if key == values.price %}
                         selected
                       {% endif %}>{{ value }}
                       </option>
                     {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="aa-single-advance-search">
                    <select name="area" >
                     <option selected="true" disabled="disabled">Area (All)</option>
                     {% for key,value in area_choices.items %}
                       <option value="{{ key }}"
                       {% if key == values.area %}
                         selected
                       {% endif %}>{{ value }}
                       </option>
                     {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="aa-single-advance-search">
                    <button class="aa-search-btn" type="submit">Search</button>
                  </div>
                </div>
      
            </div>  
          </div>
        </div>
      </form>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->


  <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Recently posted</h2>
          <span></span>
        </div>
        <!--Listing-->
        <div id="listings" class="py-4">
          <div class="container">
            <div class="row">
          {% if listings %}
              {% for listing in listings %}
              <div class="col-md-4">
                  <article class="aa-properties-item">
                    <a href="{% url 'listing' listing.pk%}" class="aa-properties-item-img">
                      <img src="{{listing.photo_main.url }}" alt="img" width="370" height="240">
                    </a>
                    <div class="aa-tag for-sale">
                      {{listing.status}}
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>{{listing.floor}} Floors</span>
                        <span>{{listing.bedrooms}} Beds</span>
                        <span>{{listing.bathrooms}} Baths</span>
                        <span>{{listing.area}} (m2)</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="{% url 'listing' listing.pk%}">{{listing.title}}</a></h3>
                        <h5>City: {{listing.city}}</h5>
                        <h5>Address: {{listing.address}}</h5>
                        <div class="row text-secondary pb-2">
                          <div class="col-12">
                            <i class="fas fa-clock"></i>Update: {{ listing.list_date | timesince }} ago</div>
                        </div>                    
                      </div>
                      <div class="aa-properties-detial">
                        <span class="aa-price">
                          {{listing.price | intcomma}} vnd/Month
                        </span>
                        <a href="{% url 'listing' listing.pk %}" class="aa-secondary-btn">View Details</a>
                      </div>
                    </div>
                  </article>
                </div>    
              {% endfor%}
          {% else %}
                <div class="col-md-12">
                  <p>No listings available.</p>
                </div>
          {% endif %}
      
            </div>
          </div>
        </div>      
            

      </div>
    </div>
  </section>
</body>
  <!-- / Latest property -->
  {% endblock %}

