<!--Modal Detail request recieved-->
{% for contact1 in contactsrc %}
<style>
  
.form-control:focus {
  border-color: #8464ca;
  box-shadow: 0 0 8px #beace3;
}
.contact-modal {
  width: 600px;
  padding: 50px;
  margin: 30px auto;
}
.contact-modal h4 {
  font-size: 26px;
  display: inline-block;
}
.contact-modal .form-control, .contact-modal .btn  {
  min-height: 38px;
  border-radius: 1px;
  outline: none;
}
.contact-modal .btn-primary {
  min-width: 100px;
  background: #8464ca;
  border: none;
}
.contact-modal .btn-primary:hover {
  background: #6d45c0;
}
.contact-modal .btn-primary:focus {
  box-shadow: 0 0 8px rgba(132, 100, 202, 0.6);
}
.contact-modal .btn-link {
  color: #6d45c0;
}
.contact-modal label {
  opacity: 0.9;
  font-weight: normal;
  font-size: 95%;
}
.contact-modal textarea {
  resize: vertical;
}
.contact-modal.modal-dialog {
  width: 480px;
}
.contact-modal .modal-header {
  padding: 20px 35px 10px;
}
.contact-modal .modal-content {
  border-radius: 1px;
}
.contact-modal .close {
  position: absolute;
  right: 35px;
  top: 25px;
}
.contact-modal .modal-body {
  padding: 5px 35px 35px;
}
.hint-text {
  opacity: 0.8;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
</style>
<div id="detailrequestrc-{{forloop.counter}}" class="modal fade" >
	<div class="modal-dialog contact-modal">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">Info request</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
                <form action="" method="POST">
                    <div class="form-group" >
                      <label for="property_name" class="col-form-label">Property: {{contact1.listing}} </label>
                    </div>
                    <div class="form-group" style ="margin-top:-7px">
                      <label for="name" class="col-form-label">Name: {{contact1.name}} </label>
                    </div>
                    <div class="form-group" style ="margin-top:-7px">
                      <label for="email" class="col-form-label">Email: {{contact1.email}}</label>
                    </div>
                    <div class="form-group" style ="margin-top:-7px">
                      <label for="phone" class="col-form-label">Phone: {{contact1.phone}}</label>
                    </div>
                   
                    <div class="form-group" style ="margin-top:-7px">
                      <label for="message">Message:{{contact1.message}} </label>
                     </div>

                     <hr>
                     <button type="button" class="btn-danger btn-block" data-dismiss="modal">
               
                       <i class="fa fa-window-close" aria-hidden="true">Exit</i>
               
                     </button>
                </form>
			</div>
		</div>
	</div>
</div>
{%endfor%}
    <!-- / Modal Detail request -->
    <!--
    <div class="modal-body">
      <div class="form-group">
        <label for="name" class="col-form-label">Property: {{contact1.listing}} </label>
      </div>
      <div class="form-group">
        <label for="name" class="col-form-label">Your Name: {{contact1.name}} </label>
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label">Your Email: {{contact1.email}}</label>
      </div>
      <div class="form-group">
        <label for="phone" class="col-form-label">Your Phone: {{contact1.phone}}</label>
      </div>
      <div class="form-group">
        <label for="message" class="col-form-label">Message: {{contact1.message}}</label>
      </div>
      <hr>
      <button type="button" class="btn-danger btn-block" data-dismiss="modal">

        <i class="fa fa-window-close" aria-hidden="true">Exit</i>

      </button>
    </div>
  -->