{% extends 'base.html' %}
{% load static %}
{% load humanize%}
{% block title %}Dashboard {% endblock %}
{% block content %}
<head>
  <script>
    function change_tab(id)
    {
      document.getElementById("page_content").innerHTML=document.getElementById(id+"_desc").innerHTML;
      document.getElementById("page1").className="notselected";
      document.getElementById("page2").className="notselected";
      document.getElementById("page3").className="notselected";
      document.getElementById(id).className="selected";
    }
    $('#detailrequestrc-{{forloop.counter}}l').modal('show')
    $('#myModal').modal('show')

   </script>
   <style>
    #main_content .hidden_desc
    {
     display:none;
     visibility:hidden;
    }
    </style>

</head>
<body>

<!--
<div class="jumbotron text-center">
    <h3 class="display-4">User Dashboard</h3>
    <p class="lead">Manage your account</p>
</div>
-->
 <!-- Breadcrumb -->
 <section id="bc" class="mt-4">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Management</li>
      </ol>
    </nav>
  </div>
</section>


<div id="main_content">
  <button type="button" class="btn btn-primary" id="page1" onclick="change_tab(this.id);" >Your Post</button>
  <button type="button" class="btn btn-secondary" id="page2" onclick="change_tab(this.id);">Request you send</button>
  <button type="button" class="btn btn-secondary" id="page3" onclick="change_tab(this.id);">Request you received</button>

  <div class='hidden_desc' id="page1_desc">
  <!--Your POST-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Your Post</h2>
          <div class="card card-body">
            <table class="table">
              <tr>
                <th>#ID</th>
                <th>Product</th>
                <th>Price ( vnd/month )</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>

              {% for i in listings %}
              <tr>
                <td>{{i.id}}</td>
                <td><a style="color:blue" href="{%  url 'listing' i.id%}">{{i.title}}</a></td>
                <td>{{i.price | intcomma}}</td>
                <td>{{i.status}}</td>
                <td><a style="color:blue" href="{%  url 'update' i.id%}">Update</a></td>
                <td><a style= "color:blue" href="{%  url 'delete' i.id%}">Delete</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Your POST-->
  
 
  <div class='hidden_desc' id="page2_desc">
   <!--Contact you send-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Request you have send</h2>
          {% if contacts %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Property</th>
                <th>Lessor</th>
                <th>Phone</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
                <tr>
                  <td>{{ contact.id }}</td>
                  <td><a style="color:blue" href="{% url 'listing' contact.listing_id %}">{{contact.listing}}</a></td>
                  <td>{{contact.lessor_name}}</td>
                  <td>{{contact.lessor_phone}}</td>
                  <td>{{contact.contact_date}}</td>
                  <td>
                    <a class="btn btn-light" data-toggle="modal" data-target="#detailrequestsnd-{{forloop.counter}}">View Detail</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>You have not any request.</p>
          {% endif%}
        </div>
      </div>
    </div>
  {% include 'modal/send_detail.html'%}
  </div>
  
  <div class='hidden_desc' id="page3_desc">
   <!--Contact you recived-->
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Request you received </h2>
          {% if contactsrc %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Property</th>
                <th>Sender</th>
                <th>Phone</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contactsrc %}
                <tr>
                  <td>{{ contact.id }}</td>
                  <td><a style="color:blue" href="{% url 'listing' contact.listing_id %}">{{contact.listing}}</a></td>
                  <td>{{contact.name}}</td>
                  <td>{{contact.phone}}</td>
                  <td>{{contact.contact_date}}</td>
                  <td>
                    <a class="btn btn-light" data-toggle="modal" data-target="#detailrequestrc-{{forloop.counter}}">View Detail</a>
                  </td>
                </tr>
                
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>You have not received any request yet!</p>
          {% endif%}
        </div>
      </div>
    </div>
  </section>
 {% include 'modal/received_detail.html'%}
  </div>
 

  <div id="page_content">
   <!--Your POST-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Your Post</h2>
          <div class="card card-body">
            <table class="table">
              <tr>
                <th>#ID</th>
                <th>Product</th>
                <th>Price ( vnd/month )</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>

              {% for i in listings %}
              <tr>
                <td>{{i.id}}</td>
                <td><a style="color:blue" href="{%  url 'listing' i.id%}">{{i.title}}</a></td>
                <td>{{i.price | intcomma}}</td>
                <td>{{i.status}}</td>
                <td><a style="color:blue" href="{%  url 'update' i.id%}">Update</a></td>
                <td><a style= "color:blue" href="{%  url 'delete' i.id%}">Delete</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/Your POST-->
  </div>
 </div>
</body>
{% endblock %}