{%  extends 'base.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<section style="background-color: #eee;" >
	<div class="container py-5">
		<div class="row">
			<div class="col">
			<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
				<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">User Profile</li>
				</ol>
			</nav>
			</div>
	  	</div>
	  
		<br>

	 	<div class="row">
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<img class="profile-pic" src="{{request.user.Profile.profile_pic.url}}" >
						<p class="text-muted mb-1">User name: {{user.username}}</p>
						<p class="text-muted mb-4">ID: #{{user.id}}</p>
						<div class="d-flex justify-content-center mb-2">
							<hr>
						
							<button type="button" class="btn btn-primary">
								<a  href="{% url 'profile_setting'%}">Update Information</a>
							</button>
							<button type="button" class="btn btn-outline-primary ms-1">
								<a  href="{% url 'password_change' %}">Change Password</a>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
							<p class="mb-0">Full Name:</p>
							</div>
							<div class="col-sm-9">
							<p class="text-muted mb-0">{{user.Profile.name}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
							<p class="mb-0">Email: </p>
							</div>
							<div class="col-sm-9">
							<p class="text-muted mb-0">{{user.Profile.email}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
							<p class="mb-0">Phone number:</p>
							</div>
							<div class="col-sm-9">
							<p class="text-muted mb-0">{{user.Profile.phone}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	  	</div>
	</div>
</section>
<!--end profile-->
<!--Choice 2
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>User:</h5>
            <img src="{{user.Profile.profile_pic}}" alt="">
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'profile_setting'%}">Update Information</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'password_change' %}">Change Password</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
            <p>Name: {{user.Profile.name}}</p>
			<p>Email: {{user.Profile.email}}</p>
			<p>Phone: {{user.Profile.phone}}</p>
		</div>
	</div>

	<div class="col-lg">
		<div class="card card-body">
			<h5>Your Post</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>

</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-lg">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
             
				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.note}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'about' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'about' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}
         

			</table>
		</div>
	</div>
</div>
/End choice 2-->

{% endblock %}