{% extends 'base.html' %}
{% load static %}
{% load humanize %}    
{% block title %}Detail{% endblock %}
{% block content %}
<head>
  <style>
    .profile-pic{
      max-width: 200px;
      max-height:200px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 10px;
      margin-left:100px;
      margin-right:100px;
      
    }
    .lessor-name {
      font-size: 2.1rem;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
      /*
      margin: 0 auto 10px;
      margin-left:110px;
      margin-right:100px;
      */
     }
     
   
  </style>

</head>
<body class="aa-price-range">  
  {%include 'modal/contact.html'%}
  <!-- Pre Loader 
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  -->
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!--Notify-->
{% include 'notify.html'%}
  <!--end notify-->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container" >
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div class="aa-properties-details-img">
               <img src="{{listing.photo_main.url }}" alt="img">
               {% if listing.photo_1 %}
               <img src="{{listing.photo_1.url }}" alt="img">
               {% endif %}
               {% if listing.photo_2 %}
               <img src="{{listing.photo_2.url }}" alt="img">
               {% endif %}
               {% if listing.photo_3 %}
               <img src="{{listing.photo_3.url }}" alt="img">
               {% endif %}
               {% if listing.photo_4 %}
               <img src="{{listing.photo_4.url }}" alt="img">
               {% endif %}
               {% if listing.photo_5 %}
               <img src="{{listing.photo_5.url }}" alt="img">
               {% endif %}
             </div>
                             
             <div class="aa-properties-info"> 
              <span ><h5>Date Submitted: {{listing.list_date}}</h5>
               <h2>{{listing.title}}</h2>


               <span class="aa-price" style="font-size:25px">Price: {{listing.price | intcomma}} VND/Month</span>
               <h4>Address:</h4>
               
               <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M12 3c2.131 0 4 1.73 4 3.702 0 2.05-1.714 4.941-4 8.561-2.286-3.62-4-6.511-4-8.561 0-1.972 1.869-3.702 4-3.702zm0-2c-3.148 0-6 2.553-6 5.702 0 3.148 2.602 6.907 6 12.298 3.398-5.391 6-9.15 6-12.298 0-3.149-2.851-5.702-6-5.702zm0 8c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2zm12 14h-24l4-8h3.135c.385.641.798 1.309 1.232 2h-3.131l-2 4h17.527l-2-4h-3.131c.435-.691.848-1.359 1.232-2h3.136l4 8z"/></svg>
                {{listing.address}} ,{{listing.city}}</p>
               <h4>Decription</h4>
               <p>{{listing.description}}</p>                 
               <h4>Propery Features</h4>
               <ul>
                <li>Area: {{listing.area}} (m2)</li>
                <li>{{listing.floor}} Floors</li>
                 <li>{{listing.bedrooms}} Bedroom</li>
                 <li>{{listing.bathrooms}} Bathroom</li>
                 <li>{{listing.kitcheen}} Kitchen</li>
                 <li>Furniture: {{listing.Furniture}} </li>

                 {% if listing.garage %}
                 <li>Garage</li>
                 {%endif%}
                 {% if listing.AirCondition %}
                 <li>Air Condition</li>
                 {%endif%}
                 {% if listing.ComunityCenter %}
                 <li>Comunity Center</li>
                 {%endif%}
                 {% if listing.SecuritySystem %}
                 <li>Security System</li>
                 {%endif%}
               </ul>
               <h4>Property Map</h4>
                <iframe width="100%" height="450" frameborder="0" style="border:0" 
                src="https://www.google.com/maps/embed/v1/place?q={{listing.address}}+{{listing.city}}&amp;key=AIzaSyD6Coia3ssHYuRKJ2nDysWBdSlVlBCzKAw&amp;zoom=14" allowfullscreen=""></iframe>

              </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Share</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
               </ul>
             </div>
            </div>           
          </div>
         </div>
          <!--Properties Lessor-->
        <div class="col-md-4" >
            <aside class="aa-properties-sidebar" style="border-radius: 2%;">
              <div class="aa-properties-single-sidebar">
                <div class="card-body text-center">
                  <h4 style="font-size:22px;"><b>Contact Information</b></h4> 
                  <img class="profile-pic" src="{{listing.lessor.profile_pic.url}}" alt="img" width="90" height="90">
                  <br>
                  <span class="lessor-name" style="font-size:20px">{{listing.lessor.name}}</span>
                </div>
                <div class="container">
                  <ul>
                      <li style="margin:0 auto 4px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <span >
                          <a href="tel:113" style="font-size:16px;">{{listing.lessor.phone}}</a>
                        </span>
                      </li>
                      <li style="margin:0 auto 4px;">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                        </svg>
                        <a href="home" rel="nofollow"style="font-size:16px">{{listing.lessor.email}}</a>
                      </li>
                    </ul>
                </div>
              </div>
            </aside>
            
             <!--Favourite-->
             {% if request.user.is_authenticated %}
             {% if fav %}
             <div>
               <a href="{% url 'favourite_add' listing.pk %}" class="">
                <button type="button" class="btn btn-danger btn-block btn-lg" >
                  <i class="fa fa-heart-o" style="font-size:18px; color:#fff;text-shadow: 0 0 2px #fff;" aria-hidden="true"> Unfavourite</i>
                </button>
               </a>
             </div>
             {% else %}
             <div>
               <a href="{% url 'favourite_add' listing.pk %}" class="">
                <button type="button" class="btn btn-success btn-block btn-lg" >
                  <i class="fa fa-heart-o " style="font-size:18px; color:#fff;text-shadow: 0 0 10px #FF0000	;"aria-hidden="true"> Favourite</i>
                </button>
               </a>
             </div>
             {% endif %}
             {% else %}
             <div>
              
                <button type="button" data-toggle="modal" data-target="#loginModal2" class="btn btn-success btn-block btn-lg" >
                  <i class="fa fa-heart-o" style="font-size:18px; color:#fff;text-shadow: 0 0 10px #FF0000	;"aria-hidden="true"> Favourite</i>
                </button>
              <!--
               <a data-toggle="modal" data-target="#loginModal2" href="{% url 'login' %}">
                <button type="button" class="btn btn-success btn-block btn-lg" >
                  <i class="fa fa-heart-o" style="font-size:18px; color:#fff;text-shadow: 0 0 10px #FF0000	;"aria-hidden="true"> Favourite</i>
                </button>
               </a>
              -->
             </div>
             {% endif %}
             
             <button class="btn-info btn-block btn-lg" style="margin-top:10px;" data-toggle="modal" data-target="#contactLessor">Send request</button>
             <br>
             <!--Other  Result-->
            <aside class="aa-properties-sidebar" style="border-radius: 2%;">
              <div class="aa-properties-single-sidebar">
                <h4 style="font-size:17px;">Same Result</h4>
                {% if other_result%}
                {% for listing in other_result %}
                <div class="media">
                  <div class="media-left">
                    
                    <a href="{% url 'listing' listing.pk%}">
                      <img class="media-object" src="{{listing.photo_main.url }}" alt="img" width="170" height="120">
                    </a>
                  </div>
                  <div class="media-body">
                    
                    <h4 class="media-heading" style="font-size:15px;font-color: green;border:20px;"><a  href="{% url 'listing' listing.pk%}"><strong>{{listing.title}}</strong></a></h4>
                    <h5 style="font-size:14px;">Address: {{listing.address}}, {{listing.city}}</h5>                
                    <span style="font-size:14.5px;">{{listing.price | intcomma}}vnd/Month</span>
                  </div>              
                </div>
                {%endfor%}
                {% else %}
                  <div class="col-md-12">
                    <p>There are no similar search results.</p>
                  </div>
                {% endif %}
              </div>
            </aside>
             <!--/Other Result-->
            </div>
      </div>
    </div>
  </section>


  <!--NEAR Listings -->
  <section id="listings" class="py-4">
    <div class="aa-nearby-properties">
      <div class="aa-title">
        <h2>Nearby Properties</h2>
        <span></span>
      </div>
      
    </div>
    <div class="container">
      <div class="row">
    {% if listings2 %}
            {% for listing in listings2 %}
        <div class="col-md-4">
          <article class="aa-properties-item" >
            <a href="{% url 'listing' listing.pk%}" class="aa-properties-item-img">
              <img src="{{listing.photo_main.url }}" alt="img" width="370" height="240">
            </a>
            <div class="aa-tag for-sale">
              {{listing.status}}
            </div>
            <div class="aa-properties-item-content">
              <div class="aa-properties-info">
                <span>{{listing.floor}} Floors</span>
                <span>{{listing.bedrooms}} Beds</span>
                <span>{{listing.bathrooms}} Baths</span>
                <span>{{listing.area}} (m2)</span>
              </div>
              <div class="aa-properties-about">
                <h3 style="font-size:19px"><a href="{% url 'listing' listing.pk%}">{{listing.title}}</a></h3>
                <h5><strong>Address: </strong>{{listing.address}}, {{listing.city}}</h5>
                <i>Update: {{ listing.list_date | timesince }} ago</i>                   
              </div>
              <div class="aa-properties-detial">
                <span class="aa-price">
                  {{listing.price | intcomma}} vnd/Month
                </span>
                <a href="{% url 'listing' listing.pk %}" class="aa-secondary-btn">View Details</a>
              </div>
            </div>
          </article>
          </div>    
        {% endfor%}
    {% else %}
          <div class="col-md-12">
            <p>No listings available.</p>
          </div>
    {% endif %}

      </div>
    </div>
  </section>
</body>
{% endblock %}
