{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block content %}
<body class="aa-price-range">  
    <!-- Pre Loader -->
    <div id="aa-preloader-area">
      <div class="pulse"></div>
    </div>
    <!-- SCROLL TOP BUTTON -->
      <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
  
    <!-- Start Properties  -->
    <section id="aa-properties">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="aa-properties-content">            
              <!-- Start properties content body -->
              <div class="aa-properties-details">
               <div class="aa-properties-details-img">
                 <img src="{{listing.photo_main.url }}" alt="img">
                 {% if listing.photo_1 %}
                 <img src="{{listing.photo_1.url }}" alt="img">
                 {% endif %}
                 {% if listing.photo_2 %}
                 <img src="{{listing.photo_2.url }}" alt="img">
                 {% endif %}
                 {% if listing.photo_3 %}
                 <img src="{{listing.photo_3.url }}" alt="img">
                 {% endif %}
                 {% if listing.photo_4 %}
                 <img src="{{listing.photo_4.url }}" alt="img">
                 {% endif %}
                 {% if listing.photo_5 %}
                 <img src="{{listing.photo_5.url }}" alt="img">
                 {% endif %}
               </div>
                               
               <div class="aa-properties-info"> 
                <span ></i>Date Submitted: {{listing.list_date}}</span>
                 <h2>{{listing.title}}</h2>
                 <span class="aa-price" style="font-size:25px">Price: {{listing.price}} VND/Month</span>
                 <h4>Address:</h4>
                 <p>{{listing.address}}</p>
                 <h4>Decription</h4>
                 <p>{{listing.description}}</p>                 
                 <h4>Propery Features</h4>
                 <ul>
                  <li>Area: {{listing.area}} (m2)</li>
                  <li>{{listing.floor}} Floors</li>
                   <li>{{listing.bedrooms}} Bedroom</li>
                   <li>{{listing.bathrooms}} Bathroom</li>
                   <li>{{listing.kitcheen}} Kitchen</li>
                   <li>Furniture: {{listing.Furniture}} </li>

                   {% if listing.garage %}
                   <li>Garage</li>
                   {%endif%}
                   {% if listing.AirCondition %}
                   <li>Air Condition</li>
                   {%endif%}
                   {% if listing.ComunityCenter %}
                   <li>Comunity Center</li>
                   {%endif%}
                   {% if listing.SecuritySystem %}
                   <li>Security System</li>
                   {%endif%}
                 </ul>
                 <h4>Property Map</h4>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15672.924961103905!2d106.8030541!3d10.8700089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiAtIMSQSFFHIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1669715495562!5m2!1svi!2s" 
                 width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
               </div>
               <!-- Properties social share -->
               <div class="aa-properties-social">
                 <ul>
                   <li>Share</li>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                   <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                 </ul>
               </div>
               <!-- Nearby properties -->
               <div class="aa-nearby-properties">
                 <div class="aa-title">
                   <h2>Nearby Properties</h2>
                   <span></span>
                 </div>
                 
               </div>
  
              </div>           
            </div>
          </div>
          
          <!-- Start properties sidebar -->
          <div class="col-md-4">
            <aside class="aa-properties-sidebar">
              <!-- Start Single properties sidebar -->
              <div class="aa-properties-single-sidebar">
                <h3>Properties Search</h3>
                <form action="">
                  <div class="aa-single-advance-search">
                    <input type="text" placeholder="Type Your Location">
                  </div>
                  <div class="aa-single-advance-search">
                    <select id="" name="">
                     <option selected="true" value="0">City</option>
                     {% for key,value in state_choices.items %}
                      <option value="{{ value }}">{{ key }}</option>
                    {% endfor %}
                    <!---
                      <option value="1">Flat</option>
                      <option value="2">Land</option>
                      <option value="3">Plot</option>
                      <option value="4">Commercial</option>
                      <option value="4">Khanhef</option>
                    -->
                    </select>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label class="sr-only">State</label>
                    <select name="state" class="form-control">
                      <option selected="true" disabled="disabled">State (All)</option>
                      {% for key,value in state_choices.items %}
                        <option value="{{ value }}">{{ key }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="aa-single-advance-search">
                    <select id="" name="">
                      <option selected="" value="0">Type</option>
                      <option value="1">Flat</option>
                      <option value="2">Land</option>
                      <option value="3">Plot</option>
                      <option value="4">Commercial</option>
                    </select>
                  </div>
                  <div class="aa-single-advance-search">
                    <select id="" name="">
                      <option selected="" value="0">Type</option>
                      <option value="1">Flat</option>
                      <option value="2">Land</option>
                      <option value="3">Plot</option>
                      <option value="4">Commercial</option>
                    </select>
                  </div>
                  <div class="aa-single-filter-search">
                    <span>AREA (SQ)</span>
                    <span>FROM</span>
                    <span id="skip-value-lower" class="example-val">30.00</span>
                    <span>TO</span>
                    <span id="skip-value-upper" class="example-val">100.00</span>
                    <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                    </div>                  
                  </div>
                  <div class="aa-single-filter-search">
                    <span>PRICE ($)</span>
                    <span>FROM</span>
                    <span id="skip-value-lower2" class="example-val">30.00</span>
                    <span>TO</span>
                    <span id="skip-value-upper2" class="example-val">100.00</span>
                    <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                    </div>      
                  </div>
                  <div class="aa-single-advance-search">
                    <input type="submit" value="Search" class="aa-search-btn">
                  </div>
                </form>
              </div> 
             
              <!-- Start Single properties sidebar -->
              <div class="aa-properties-single-sidebar">
                <h3>Populer Properties</h3>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="img/item/1.jpg" alt="img">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">This is Title</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                    <span>$65000</span>
                  </div>              
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="img/item/1.jpg" alt="img">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">This is Title</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                    <span>$65000</span>
                  </div>              
                </div>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="img/item/1.jpg" alt="img">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">This is Title</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                    <span>$65000</span>
                  </div>              
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- / Properties  -->
  <!--NEAR Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
    {% if listings2 %}
            {% for listing in listings2 %}
        <div class="col-md-4">
            <article class="aa-properties-item">
              <a href="{% url 'listing' listing.pk%}" class="aa-properties-item-img">
                <img src="{{listing.photo_main.url }}" alt="img" width="370" height="240">
              </a>
              <div class="aa-tag for-sale">
                For Sale
              </div>
              <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                  <span>{{listing.floor}} Floors</span>
                  <span>{{listing.bedrooms}} Beds</span>
                  <span>{{listing.bathrooms}} Baths</span>
                  <span>{{listing.area}} (m2)</span>
                </div>
                <div class="aa-properties-about">
                  <h3><a href="#">{{listing.title}}</a></h3>
                  <h5>Address: {{listing.address}}</h5>
                  <div class="row text-secondary pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i>Update: {{ listing.list_date | timesince }} ago</div>
                  </div>                    
                </div>
                <div class="aa-properties-detial">
                  <span class="aa-price">
                    {{listing.price}} vnd/Month
                  </span>
                  <a href="{% url 'listing' listing.pk %}" class="aa-secondary-btn">View Details</a>
                </div>
              </div>
            </article>
          </div>    
        {% endfor%}
    {% else %}
          <div class="col-md-12">
            <p>No listings available.</p>
          </div>
    {% endif %}

      </div>
    </div>
  </section>
             
              <!--END NEar listing-->
    </body>
{% endblock %}
