{% extends 'base.html' %}
{% load static %}
{% load humanize%}

{% block title %}Post{% endblock %}
{% block content %}
 
{% load crispy_forms_tags %}
<head>
    <style>
        .profile-pic{
            max-width: 200px;
            max-height:200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
</head>
<body>
   
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
<section id="aa-properties" style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content"> 
                    <div class="aa-properties-details">
                        <div class="form-group">
                        <form method="POST" enctype="multipart/form-data" style="background-color:ivory">
                            <div class="aa-title" style="margin-top:0px;">  
                                <h2>POST</h2>
                                <span></span>
                            </div>
                            {% csrf_token %}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-group col-md-10 mb-0">
                                        {{ form.title|as_crispy_field }}
                                        <div class="w-100"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.city|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-10 mb-0">
                                        {{ form.address|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.price|as_crispy_field }}
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="form-group col-md-4 mb-0">
                                        
                                         {{ form.area|as_crispy_field  }}
                                        
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.floor|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.bedrooms|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.kitcheen|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-4 -mb-0">
                                        {{ form.bathrooms|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.Furniture|as_crispy_field }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.garage|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.AirCondition|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3 -mb-0">
                                        {{ form.ComunityCenter|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-3 -mb-0">
                                        {{ form.SecuritySystem|as_crispy_field }}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.photo_main|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-4 -mb-0">
                                        {{ form.photo_1|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        {{ form.photo_2|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-4 -mb-0">
                                        {{ form.photo_3|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-4 -mb-0">
                                        {{ form.photo_4|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-4 -mb-0">
                                        {{ form.photo_5|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <button class="btn btn-success" type="submit" ><b>Submit</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

             <!--Properties Lessor-->
            <div class="col-md-4" >
            <aside class="aa-properties-sidebar" style="border-radius: 2%; background-color:lavender">
              <div class="aa-properties-single-sidebar">

                <div class="card-body text-center">
                    <h4 style="font-size:25px;"><b>Contact Information</b></h4> 
                    <img class="profile-pic" src="{{request.user.Profile.profile_pic.url}}" alt="img" width="90" height="90">
                    <br>
                    <span class="lessor-name" style="font-size:20px">{{user.Profile.name}}</span>
                </div>
                <div class="container"> 
                   <ul>

                      <li style="margin:0 auto 4px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <span >
                          <a href="tel:113" style="font-size:16px;">{{user.Profile.phone}}</a>
                        </span>
                      </li>
                      <li style="margin:0 auto 4px;">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                        </svg>
                        <a href="home" rel="nofollow"style="font-size:16px">{{user.Profile.email}}</a>
                      </li>
                    </ul>
                </div> 
              </div>
            </aside>
            <button  type="button" class="btn-primary btn-block btn-lg" 
                onclick="window.location.href='{% url 'profile_setting'%}';">
                Edit Profile
            </button>

          </div>
        </div>
    </div>
</section>



</body>
{%endblock%}