{% load static %}


<style>
    .hello-msg{
        font-size: 20px;
        color: blue;
        margin-top: 13px;
        margin-right: 20px; 
    } 
    .menu-bar{
        background-color: #10284e ;
    }
    .nav-link:hover {
      font-weight: 600;
      border-bottom: 1px solid #fff;
    }
    .navbar-brand{
     color:grey;
     font-size: larger;
     margin: 0px 5px 20px 5px;
    }

</style>
<div class="menu-bar">
<nav class="navbar navbar-expand-lg navbar-light " style="margin:-10px;">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/ico/logo.png'%}" width="46" height="40"></a>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" href="{% url 'home' %}" style="color:white;font-size:18px">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'create'  %}" style="color:white;font-size:18px">Post</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}" style="color:white;font-size:18px">Management</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'listings' %}" style="color:white;font-size:18px">Featured Listings</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link " href="{% url 'about' %}" style="color:white;font-size:18px">About</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'search'%}">
          <span class="glyphicon glyphicon-search" style="color:white;font-size:20px" >Search</span></a></li>

        {% if user.is_authenticated %}
        <span class="hello-msg" style="color:white;font-size:18px">Hello, {{request.user}}</span>
        <li><a href="{% url 'profile'%}">
          <span class="glyphicon glyphicon-user" style="color:white;font-size:18px; margin-right:px" >Profile</span></a></li>
        <li><a href="{% url 'logout'%}">
          <span class="glyphicon glyphicon-log-out" style="color:white;font-size:18px" >LogOut</span></a></li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">
          <span class="glyphicon glyphicon-log-in" style="color:white;font-size:18px"> Login</span> </a></li>
        <li><a href="{% url 'register' %}">
          <span class="glyphicon glyphicon-user" style="color:white;font-size:18px"> Register</span> </a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
